@font-face{
	font-family: 'N27';
	src: url('/fonts/n27-regular-webfont.eot');
	src: url('/fonts/n27-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/n27-regular-webfont.woff') format('woff'),
	url('/fonts/n27-regular-webfont.ttf') format('truetype');
}
:root {
	--bg-color: #bdd630;
	--header-color: #Ef3b24;
	--text-color: #000; /*#5F5F4F;*/
	--link-color: #000;
}

/*! CSS Used from: https://photostroll.nyc/css.css */
body {
	font-family: 'Open Sans', Ubuntu, Helvetica, Calibri, Tahoma, Verdana, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.1em;
	margin: 1em;
	line-height: 1.8;
	text-align: center;
	letter-spacing: 0.5px;
	background: var(--bg-color);
	color: var(--text-color);
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2.5em;
	color: #000;/*#818165;*/
}

h2 {
	margin: 1em 0 0;
	font-size: 1.5em !important;
}

h1, h2, footer p {
	font-family: N27;
	letter-spacing: 0;
}


nav a+a {
	margin-left: 1em;
}

nav a.selected {
	font-weight: bold;
}

#wrap {
	text-align: left;
	max-width: 36em;
	margin: 2em auto 4em;
}

#wrap h1 {
	color: var(--header-color);
	font-size: 4em;
    text-align: left;
    line-height: 1.25;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

#wrap.wide {
	max-width: 45em;
}

h1, h2, h3, h1 a:link, h1 a:visited, h1 a:hover {
	color: #000;
	font-weight: normal;
	letter-spacing: 1px;
}

h3 {
	color: #000;/*#52ad84;*/
	margin: 1.25em 0 1.25em 1em;
}

h1 a:hover, h1 a:link, h1 a:visited {
	text-decoration: none;
	border-bottom: 0px;
}

a:link, a:visited {
	color: var(--link-color);
	text-decoration: none;
	border-bottom: 0px;
}

a:active {
	color: #ccc;
}

a:hover {
	text-decoration: underline;
}

p, nav {
	font-family: 'Open Sans', Ubuntu, Helvetica, Calibri, Tahoma, Verdana, Arial, sans-serif;
}

hr {
	margin: 4em 2em;
	background-color: #ccc;
	height: 1px;
	border: 0;
}

footer nav {
	font-size: 1.2em;
	text-align: center;
}

footer nav a {
	display: table;
	margin: 0.5em auto;
}

/*! CSS Used from: https://photostroll.nyc/brooklyn.css?1 */
h2,
.big-decision a:link,
.big-decision a:visited {
	color: #000; /*#696969;*/
}

hr {
	background-color: #DBDBCD;
	margin: 2em;
}

footer {
	margin: 3em 0em 2em;
	font-size: 0.95em;
	text-align: right;
}

footer nav {
	display: inline;
	font-size: 1em;
}

footer nav a {
	display: inline;
}

img {
	max-width: 100%;
}
div.dropboxes img {
	display: block;
}
.dropboxes {
	outline: 1px solid #000;
	position:relative;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.dropboxes:before {
	content: "";
	top:2px;
	left:2px;
	right:-4px;
	bottom:-4px;
	border: #000 1px solid; 
	position: absolute;
	z-index: -1;
}

.dropboxes:after {
	content: "";
	top:5px;
	left:5px;
	right:-7px;
	bottom:-7px;
	border: #000 1px solid; 
	position: absolute;
	z-index: -2;
}

p {
	line-height: 1.8;
}

p.caption {
	font-size: 0.86em;
	color: var(--text-color);
}

p a:link,
p a:visited {
	text-decoration: none;
    border-bottom: 1px solid #000;
}

.big-decision a,
nav a.selected:hover {
	text-decoration: none;
	border-bottom: 0px;
}

.big-decision a:hover {
	text-decoration: underline;
}

#wrap.wide {
	max-width: 60em;
	margin: 2.5em auto;
}

nav a.selected {
	font-style: italic;
	font-weight: normal;
	cursor: default;
}

.row, header {
	display: flex;
	align-items: center;
}
header, .row.ends {
	justify-content: space-between;
}
header {
    margin: 0 1em;
}
header h1 {
	font-size: 1.5em;
	padding: 4px 2px 0;
    line-height: 1;
    text-transform: uppercase;
    background: var(--bg-color);
}
header nav {
	font-weight: bold;
	text-transform: uppercase;
}

@media (max-width: 940px) {
}
@media (max-width: 640px) {
	#wrap h1 {
		font-size: 14vw;
	}
	header {
		flex-direction: column;
		margin-top: 2em;
	}
	header nav {
		margin-top: 1.5em;
	}
	div.row {
		flex-direction: column;
	}
}

h1, nav, .poster {
	text-align: center;
}
.poster img {
	max-height: 90vh;
}
.right p:first-child {
	margin-top: 0;
}
.row.single img, .row.thirds img {
	max-height: 295px;
}
.row.thirds {
	justify-content: space-around;
}
.row.fifths a {
	width: 20%;
	box-sizing: border-box;
}
h3 {
	margin: 0.5em 0 1em;
}
@media (max-width: 640px) {
	div.row {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.row a, .row.fifths a {
		width: 50%;
	}
	.row.single a, .row.thirds a {
		width: 100%;
	}
}

p.next {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.5em;
}
p.next a {
    color: var(--text-color);
}
img.featured {
    filter: grayscale(100%);
}
